@font-face {
    font-family: minecraftHeader;
    src: url('MinecraftTen-VGORe.ttf');
} /*Header Font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  /*Text Font*/

.header {
    font-family: 'minecraftHeader';
    font-size: 200%;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
}

.article {
    width: 1600px auto;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 0 20px black;
}

.article h2 {
    font-family: 'minecraftHeader';
    font-size: 175%;
}

.article p {
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
    line-height: 2;
}

.article li {
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
    line-height: 2;
}

.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: 3px solid black;
}

.article table, th, td{
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 10px;
    scale: 100%;
}

th {
    background-color: lightgrey;
}

li em{
    font-weight: bold;
}

footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 150px;
    margin: 50px auto;
    padding: 5px 10px;
    background: white;
    box-shadow: 0 0 20px black;
}

#icon {
    width: 25px;
}

#index {
    background: url(images/backgrounds/background_index.png) no-repeat center center fixed;
    background-size: cover;
}

#mining {
    background: url(images/backgrounds/background_mining.jpg) no-repeat center center fixed;
    background-size: cover;
}

#combat {
    background: url(images/backgrounds/background_combat.jpg) no-repeat center center fixed;
    background-size: cover;
}

#farming {
    background: url(images/backgrounds/background_farming.jpg) no-repeat center center fixed;
    background-size: cover;
}